In [21]:
import pandas as pd

# Load the dataset into a DataFrame
df = pd.read_csv('train.csv')
print(df)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

In [15]:
# Drop rows with missing values
df.dropna(inplace=True)

# Or impute missing values with mean, median, or mode
# For example, to impute missing values with mean
# Fill missing values with the mean of numeric columns
df_numeric = df.select_dtypes(include='number')
df_numeric.fillna(df_numeric.mean(), inplace=True)

In [16]:
# Calculate z-score for each numeric column
from scipy import stats

z_scores = stats.zscore(df.select_dtypes(include='number'))

# Define a threshold for z-score (e.g., 3)
threshold = 3

# Remove rows with outliers
df_cleaned = df[(z_scores < threshold).all(axis=1)]

In [20]:
# Save the cleaned dataset to a new CSV file
df_cleaned.to_csv('cleaned_dataset.csv', index=False)
#df_cleaned = pd.read_csv('cleaned_dataset.csv')
print(df_cleaned)

     PassengerId  Survived  Pclass  \
0              2         1       1
1              4         1       1
2              7         0       1
3             12         1       1
4             22         1       2
..           ...       ...     ...
162          872         1       1
163          873         0       1
164          880         1       1
165          888         1       1
166          890         1       1

                                                  Name     Sex   Age  SibSp  \
0    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
1         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
2                              McCarthy, Mr. Timothy J    male  54.0      0
3                             Bonnell, Miss. Elizabeth  female  58.0      0
4                                Beesley, Mr. Lawrence    male  34.0      0
..                                                 ...     ...   ...    ...
162   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
163                           Carlsson, Mr. Frans Olof    male  33.0      0
164      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
165                       Graham, Miss. Margaret Edith  female  19.0      0
166                              Behr, Mr. Karl Howell    male  26.0      0

     Parch    Ticket     Fare        Cabin Embarked
0        0  PC 17599  71.2833          C85        C
1        0    113803  53.1000         C123        S
2        0     17463  51.8625          E46        S
3        0    113783  26.5500         C103        S
4        0    248698  13.0000          D56        S
..     ...       ...      ...          ...      ...
162      1     11751  52.5542          D35        S
163      0       695   5.0000  B51 B53 B55        S
164      1     11767  83.1583          C50        C
165      0    112053  30.0000          B42        S
166      0    111369  30.0000         C148        C

[167 rows x 12 columns]